@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.v-select{
  --vs-controls-color: var(--color-text);
  --vs-border-color: var(--color-border);

  --vs-dropdown-bg: var(--color-background-soft);
  --vs-dropdown-option-color: var(--color-text);

  --vs-selected-color: var(--color-text);

  --vs-search-input-color: var(--color-text);

  --vs-dropdown-option--active-bg: var(--color-background-mute);
  --vs-dropdown-option--active-color: var(--color-heading);
  
}

